.containerCourbe {
  /* background-color: red; */

  width: 100%;
  display: flex;
  flex-direction: column;
}

.demarrerCycle {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxButtonDemCycle {
  /* border: solid black 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.demarrerCycleButton {
  width: 33%;
  padding: 10px 10px 10px 10px;
  background-color: var(--orangeClic974);
  margin: 11px 0px 11px 0px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: var(--shadow);
}

.demarrerCycleDate {
  width: 33%;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: var(--shadow);
}

.demarrerCycleJour {
  width: 33%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  box-shadow: var(--shadow);
  color: var(--orangeClic974);
}

.cont {
  width: 100%;
}

.infoSmall {
  margin: 10px;
  color: red;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.infoSmallDisplay {
  display: none;
}

/** ------------------------------------------*/

.container {
  /* border: solid red 1px; */
  width: 100%;
  margin: 10px 0px 10px 0px;
  background: #f1f1f1;
  border-radius: 10px;
}

.courbeContainer {
  /* border: solid green 1px; */
  width: 100%;
}

.container-onglets {
  width: 100%;
  /* border: solid green 1px; */
  background: #f1f1f1;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.onglets {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #333;
  font-size: 1.5rem;
  text-align: center;
}

.onglets:not(:nth-child(3)) {
  border-right: 1px solid #333;
}

.tabBox {
  /* border: solid green 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonBoxTab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.tablink {
  width: 33%;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--bgColor);
  color: white;
  font-size: 17px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tablink:hover {
  background-color: #777;
}

.contentBox {
  /* border: solid red 1px; */
  width: 100%;
}

.tabcontent {
  /* border: solid green 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  border-radius: 10px;
}

.graph1 {
  /* border: solid green 1px; */
  width: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.cont {
  /* border: solid green 1px; */
  width: 32.5%;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: 10px;
}

/* .cont1 {
    border: solid green 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
} */

.cont2 {
  border: solid #e59500 1px;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px 5px 20px 5px;
  border-radius: 10px;
}

.cont3 {
  border: solid #e59500 1px;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  color: #e59500;
  font-weight: bolder;
  border-radius: 10px;
  font-size: 3.5rem;
  text-align: center;
  padding: 1px 5px 1px 5px;
  margin-right: 10px;
}

.contenu {
  width: 85.2%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  opacity: 0;
  height: auto;
}

.graphData {
  width: 100%;
  height: auto;
  border: solid black 1px;
}

.graphVanne {
  border: solid black 1px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Anim */

.active {
  background-color: var(--orangeClic974);
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.active-contenu {
  -webkit-animation: fade 0.5s forwards;
  animation: fade 0.5s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
